/*-----------------Configuraciones generales---------------*/
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 16px;
    font:inherit;
    box-sizing: border-box;
    font-family:'Oswald',sans-serif;
    
}

body{
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
/*-----------------Encabezados---------------*/
header{
    max-width: 1200px;
    min-width: 360px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 150%;
    padding: 1%;
    text-align: center;
    gap: 1rem;
}
.icono_personalizado{
    width: 10vh;
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
    max-width: 60px;;
}
.logo_pagina{
    height: 2em;
}
.search-container { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 10px; 
    height: auto;
} 
.search-box { 
    width: 25vw;
    max-width: 300px;
    padding: 10px; 
    border: none; 
    border-radius: 25px 0 0 25px; 
    outline: none; 
    font-size: 0.75em; 
    background-color: #333; 
    color: #fff; 
} 
.search-button { 
    padding: 10px 20px; 
    border: none; 
    border-radius: 0 25px 25px 0; 
    background-color: #555; 
    color: #fff; 
    cursor: pointer; 
    font-size: 0.75em;
} 
.search-button:hover { 
    background-color: #777; 
}
#user-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #161616;
    padding: 1%;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#user-name {
    color: white;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
}

#user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #700B97;
    object-fit: cover;
}
/*--------------Cuerpo de la pagina---------------*/
.separador{
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    min-width: 360px;
}
main{
    width: 70%;
    display: flex;
    flex-direction: column; /* Establecemos la dirección de los elementos como columna */
    align-items:start; /* Centra verticalmente el contenido de main */
    gap: 1vw;
}
.carrusel{
    display: flex;
    height: 60vh;
    width: 100%;
    gap: 1vw;
    overflow: scroll hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    min-height: fit-content;
    max-height: fit-content;
    /* min-width: min-content;
    max-height:max-content; */
}
.carrusel::-webkit-scrollbar {
    height: 0.5vw;
}
.carrusel::-webkit-scrollbar-track {
    background: #000000; /* Color de fondo de la pista */
}
.carrusel::-webkit-scrollbar-thumb {
    background: #4B4376; /* Color del pulgar */
    border-radius: 6px; /* Bordes redondeados del pulgar */
}
.carrusel::-webkit-scrollbar-thumb:hover {
    cursor: grab;
    background: #231f36; /* Color del pulgar al pasar el ratón */
}
/*--------------botonera del carrusel*/
.selector{
    position: relative;
    padding: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.botonera {
    position:absolute; 
    top: 1.5vw; /* Ajusta la posición vertical */ 
    right: 1.5vw; /* Ajusta la posición horizontal */ 
    z-index: 1000;
    display: flex;
    border-radius: 5px;
    width: 4em;
    height: 2em;
    list-style: none;
    background-color:rgba(0, 0, 0, 0.5);  /* Fondo semitransparente rgba(0, 0, 0, 0.5);*/ 
    padding: 0.5vh 0.5vw; 
    align-items: center;
    justify-content: center;
}
.botonera a{
    text-decoration: none;
    color: white;
    font-size: 2em;
}
.botonera a:hover{
    color: #700B97;
}
.tarjeta{
    display: flex;
    flex-flow:wrap column;
    align-items: center;
    min-width: 100%;
    position: relative; 
    max-height: fit-content;
}
.tarjeta img{
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    margin: 1% 0;
    /* transition: transform 0.5s ease-in-out; */
}
/* .tarjeta img:hover{
    transform: scale(1.02);
} */
.tarjeta .sinopsis {
    position: absolute; 
    bottom: 0;
    width: 100%;
    display:flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #700B97;
    border-radius: 1em 1em 0 0;
    min-height: fit-content;
}
.tarjeta span{/*<-------------------texto de la tarjeta*/
    width: 75%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
}
.tarjeta .watch{
    width: 25%;
}
.tarjeta span a{
    text-align: center;
    align-self:flex-start;
    margin-left: 10%;
    color: #FFFFFF;
    font-size: 200%;
    transition-duration: 0.2s,0.2s;
    margin-bottom: 5px;
    text-decoration: none;
}
.tarjeta a:hover{
    color: #4B4376;
}
.tarjeta p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1% 4%;
    text-align: justify;
}
.tarjeta button {
    background-color: #000000;
    border-radius: 20rem;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.5em;
    width: 90%;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    will-change: transform;
}
 button:disabled {
  pointer-events: none;
}
 button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
 button:active {
  box-shadow: none;
  transform: translateY(0);
}
/*----------Titulos de las carteleras------------*/
.titular{
    color: white;
    font-size: 1.5rem;
    margin-left: 5%;
}
/*---------Cartelera de Popular-----------------------*/
.popular{
    width: 100%;
    color: white;
    gap: 1%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}
.popular .card {
    width: 19%;
    aspect-ratio: 9/12;
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
    margin-bottom: 1%;
  }
  .card .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  .card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.25s ease-in-out;
  }
  
  .card::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1.3px solid #700B97;
    border-radius: inherit;
    opacity: 0;
    transition: 0.25s ease-in-out;
  }
  
  .card:hover img {
    filter: grayscale(1) brightness(0.4);
  }
  .card:hover::after {/*Margen en la imagen*/
    opacity: 1;
    inset: 5%;
  }
  
  .content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .content h2,
  .content p {
    opacity: 0;
    transition: 0.2s 0.1s ease;
  }
  .content h2 {
    font-size: 1rem;
    margin-bottom: 0.5vw;
  
  }
  .content p {
    font-size: 0.8rem;
    line-height: 1.5;
    color: #ffffff;
    transform: translateY(50%);
  }
  .card:hover .content h2 {
    scale: 1;
    opacity: 1;
  }
  .card:hover .content P {
    opacity: 1;
    transform: translateY(0);
  }
/*---------Elementos al costado de la pagina------------*/
aside {
    width: 30%; /* Ancho de la barra de navegación */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:fit-content; /* Altura mínima para que ocupe toda la pantalla */
    color: white;
    padding: 1%;
    gap: 10px;
}
.caja{
    background-color:#161616;
    border-radius: 0.5rem;
    padding: 1%;
}
.search{ 
    padding-bottom: 0;
}
.search div{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: center;
}

.search select{
    color: #969696; /*Buscar el color adecuado*/
    text-align: center;
    appearance:unset;
    width: 45%;
    height: 2.1em;
    margin-bottom: 1%;
    background-color: #3f3e3e;
}
.search select:hover{
    cursor: pointer;
}
.search button{
    color: white;
    background-color: #700B97;
    border-radius: 25em;
    width: 100%;
}
.search button:hover{
    cursor: pointer;
}
/*---------------------rankeo------------*/
.ranking{
    display: flex;
    flex-direction: column;
    padding-top: 0;
}
.ranking .secciones{
    
    justify-content: space-evenly;
    background-color: #3f3e3e; /*Buscar el color chido*/
}
.ranking .secciones button{
    width: 32%;
    margin: 1% 0;
    background-color: #3f3e3e;
    color: white;
    border-radius: 25px;
}
.ranking .secciones button:hover{
    background-color: #700B97;
}
.ranking article{
    align-items: center;
    display: flex;
    padding: 2%;
    gap: 2%;
    border-bottom: 2px #231f36 groove;
}
.ranking article span{
    border: 2px white solid;
    border-radius: 5px;
    padding: 1% 3%;
}
.ranking article img{
    object-fit: cover;
    border: #000000 solid 2px;
    width: 20%;
}
.ranking .descripcion{
    font-size: 1em;
}
/*---------------------categoria------------*/
.categoria {
    display: flex;
    flex-flow: row wrap;
    gap: 2%;
}
.categoria a{
    overflow: hidden;
    text-align: center;
    width: 32%;
    border-right: 2px #231f36 groove;
    color: white;
    white-space: wrap;
    text-decoration: none;
    transition-duration: 0.2s,0.1s;
}
.categoria a:hover{
    color: #700B97;
}
/*---------------------recientes------------*/

.recientes ul{
    list-style: none;
}
.recientes li{
    margin: 2%;
    border-bottom: 2px #231f36 groove;
    
}
.recientes .elemento{
    display: flex;
    justify-content: space-between;
}
.recientes .elemento a{
    color: white;
    text-decoration: none;
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: 0.2s,0.1s;
}
.recientes .elemento a:hover{
    color: #700B97;
}
.recientes .elemento button{
    width: 30%;
    background-color: #700B97;
    color: white;
    font-size: 0.7rem;
    padding: 1%;
    border-radius: 1em;
}
.siguiente{
    display: inline-block;
    align-self: center;
    background-color: #700B97;
    border-radius: 25rem;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    padding: 0 2%;
    margin-bottom: 1%;
    z-index: 1000;
}
/*--------------Final de la página--------------*/
.az-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
}
.az-list a {
    display: inline-block;
    padding: 0.5rem;
    background-color: #700B97; 
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
}
.az-list a:hover{
    color: #aaa;
}
/*pie de pagina*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #aaa;
    font-size: 0.9rem;
    padding: 1%;
    background-color: #161616; /* Fondo de color gris oscuro */
    width: 100%;
    
}
footer .buttons {
    margin-top: 1em;
    width: 100%;
    max-width: 400px;
    display: grid;
    grid-template-areas: "AZ  Anix Schedule";
    grid-template-columns: repeat(3,1fr) ;
    gap: 2%; 
    justify-content:center;
}
.AZ{
    grid-area: AZ;
}
.Anix{
    grid-area: Anix;
}
.Schedule{
    grid-area: Schedule;
}

footer .button {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 100px;
}
footer .button:hover {
    background-color: #666;
}
.repositorio{
    display:flex;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    padding: 0;
    border-radius: 100%;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.25);
    cursor: pointer;
    z-index: 1000;
}
.repositorio img{
    height: 7vw;
    min-height: 50px;
}
/**-------------------Comentarios --------------------*/
#comentarios {
    margin-top: 1%;
    width: 90%;
    align-self: center;
    background-color: #161616;
    padding: 1%;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    height: 15em;

    gap: 3px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

#comentarios::-webkit-scrollbar {
    width: 0.5vw;
}

#comentarios::-webkit-scrollbar-track {
    background: #000000; /* Color de fondo de la pista */
}

#comentarios::-webkit-scrollbar-thumb {
    background: #4B4376; /* Color del pulgar */
    border-radius: 6px; /* Bordes redondeados del pulgar */
}
#comentarios::-webkit-scrollbar-thumb:hover {
    cursor: grab;
    background: #231f36; /* Color del pulgar al pasar el ratón */
}

#comentarios::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
    background: #231f36; /* Color del pulgar al hacer clic */
}

.comentario {
    position: relative;
    background-color: #424242;
    color: #ffffff;
    display: flex;
    padding: 2%;
    gap: 2%;
    min-height: 80px;
    border-radius: 40px 0 0 40px;
    border-bottom: #700B97 solid 1px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    align-items: center;
}

.comentario img {
    object-fit: cover;
    aspect-ratio: 1;
    width: 5em;
    height: 5em;
    margin: 1% 0;
    border-radius: 50%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    border: #700B97 solid 1px;
}

.comentario .contenido {
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.comentario .encabezado {
    background-color: #2c2c2c;
    border-bottom: #700B97 solid 1px;
    border-left: #700B97 solid 1px;
    border-style: groove;
    border-top-right-radius: 5px;
    padding: 0.5%;
    display: flex;
    justify-content: space-between;
    color: white;
}

.comentario .texto {
    max-height: 70%;
    width: 100%;
    text-align: justify;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    word-break: break-all;
    color: white;
}

.comentario .borrar:hover {
    cursor: pointer;
    color: #700B97;
}

#ingresarComentario {
    margin-top: 1%;
    display: flex;
    flex-flow: column;
    align-self: center;
    width: 90%;
}

#ingresarComentario textarea {
    width: 100%;
    min-height: 50px;
    border-radius: 10px;
    padding: 1%;
    resize: none;
    margin-bottom: 1%;
    background-color: #161616;
    color: white;
}


/* -------------------Vista para celular (vertical) --------------------*/
@media only screen and (max-width: 600px) { 
    body{
        display:block;
    }
    header{
        justify-content: space-between;
        font-size: 1rem;
    }
    .search-box{
        display: none;
    }
    .search-button{
        border-radius: 25em;
    }
    .separador { 
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */ 
        padding: 0 5%;
        align-items: center;
    } 
    main,aside{
        width: 100%;
    }
    .selector{
        font-size: 0.5rem;
    }
    .content h2 {
        font-size: 0.5rem;
    }
    .content p {
        font-size: 0.4rem;
    }
    .popular .card {
        width: 24%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px){ 
    body{
        font-size: 0.75rem;
    }
    
    main{
        width: 65%;
    }
    aside{
        width: 35%;
    }
    .selector{
        font-size: 100%;
    }
    .card{
        font-size: 1.5vw;
    }
    .content H2{
        font-size: 0.9em;
    }
    .content p{
        font-size: 0.7em;
    }

 }